name: pages

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    if: github.repository == 'azuredevcollege/trainingdays'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true

      - uses: actions/setup-node@v2.1.5
        with:
          node-version: "12"

      - run: npm init -y
      - run: npm install vuepress vuepress-plugin-code-copy
      - run: node_modules/.bin/vuepress build
      - name: Upload result of vuepress build
        uses: actions/upload-artifact@v2
        with:
          name: static-website
          path: .vuepress/dist
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: build

    if: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - name: Download build of static website
        uses: actions/download-artifact@v3
        with:
          name: static-website
          path: .vuepress/dist
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: .vuepress/dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
