name: day5-scm-fe

on:
  push:
    branches:
      - master
    paths:
      - day5/apps/infrastructure/bicep/frontend/**
      - day5/apps/frontend/scmfe/**
      - .github/workflows/day5-scm-frontend.yml

  pull_request:
    branches:
      - master
    paths:
      - day5/apps/infrastructure/bicep/frontend/**
      - day5/apps/frontend/scmfe/**
      - .github/workflows/day5-scm-frontend.yml

  workflow_dispatch:

env:
  BICEP_FILE_NAME: "frontendmain.bicep"

jobs:
  build-bicep:
    if: github.repository == 'azuredevcollege/trainingdays'
    runs-on: ubuntu-latest
    env:
      BICEP_FILE_PATH: "./day5/apps/infrastructure/bicep/frontend/frontendmain.bicep"
      BICEP_MODULE_PATH: "./day5/apps/infrastructure/bicep/frontend/"
      NEED_DEPLOY: ${{ (github.event_name == 'push') || (github.event_name == 'workflow_dispatch') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Transpile bicep files
        run: az bicep build -f ${{ env.BICEP_FILE_PATH }}

      - name: Archive bicep file
        uses: actions/upload-artifact@v2
        if: env.NEED_DEPLOY == 'true'
        with:
          name: bicep
          path: ${{ env.BICEP_MODULE_PATH }}
          if-no-files-found: error
          retention-days: 30

  build-frontend:
    if: github.repository == 'azuredevcollege/trainingdays'
    runs-on: ubuntu-latest
    env:
      FRONTEND_PROJECT_PATH: "./day5/apps/frontend/scmfe"
      FRONTEND_DIST_PATH: "./day5/apps/frontend/scmfe/dist/"
      NODE_VERSION: "14.x"
      NEED_DEPLOY: ${{ (github.event_name == 'push') || (github.event_name == 'workflow_dispatch') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache npm dependencies to speed up deployment
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('./day5/apps/frontend/scmfe/package-lock.json') }}

      - name: npm install and build
        working-directory: ${{ env.FRONTEND_PROJECT_PATH }}
        run: |
          npm install
          npm run build

      - name: Archive SCM Frontend
        uses: actions/upload-artifact@v2
        if: env.NEED_DEPLOY == 'true'
        with:
          name: scmfe
          path: ${{ env.FRONTEND_DIST_PATH }}
          retention-days: 30

  deploy-to-dev:
    if: (github.repository == 'azuredevcollege/trainingdays') && ((github.event_name == 'push') || (github.event_name == 'workflow_dispatch'))
    runs-on: ubuntu-latest
    environment: day5-scm-dev
    needs: [build-bicep, build-frontend]
    env:
      RESOURCE_GROUP_NAME: rg-scm-devday5
      RESOURCE_GROUP_LOCATION: westeurope
      ENV_NAME: devd5

    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - name: Create ResourceGroup name
        id: createResourceGroupName
        run: echo "::set-output name=name::${{ env.RESOURCE_GROUP_NAME }}-${{ env.GITHUB_REPOSITORY_OWNER_PART }}"

      - name: Download bicep artifacts
        uses: actions/download-artifact@v2
        with:
          name: bicep

      - name: Login via Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create ResourceGroup
        run: >
          az group create
          -l ${{ env.RESOURCE_GROUP_LOCATION }}
          -n ${{ steps.createResourceGroupName.outputs.name }}

      - name: Deploy infrastructure to dev environment
        uses: azure/arm-deploy@v1
        id: infrastructure
        with:
          failOnStdErr: false
          resourceGroupName: ${{ steps.createResourceGroupName.outputs.name }}
          template: ./${{ env.BICEP_FILE_NAME }}
          parameters: env=${{ env.ENV_NAME }}

      - name: Download SCM Frontend artifacts
        uses: actions/download-artifact@v2
        with:
          name: scmfe
          path: ./scmfe

      - name: Enable static website hosting
        run: >
          az storage blob service-properties update 
          --account-name ${{ steps.infrastructure.outputs.storageAccountName }} 
          --static-website  
          --index-document index.html 
          --404-document index.html

      - name: Patch SCM Frontend settings
        run: >
          echo "var uisettings = 
          { 
            \"endpoint\": \"${{ steps.infrastructure.outputs.contactsApiEndpoint }}\", 
            \"resourcesEndpoint\": \"${{ steps.infrastructure.outputs.resourcesApiEndpoint }}\", 
            \"searchEndpoint\": \"${{ steps.infrastructure.outputs.searchApiEndpoint }}\",
            \"reportsEndpoint\": \"${{ steps.infrastructure.outputs.visitReportsEndpoint }}\",
            \"enableStats\": true,
            \"aiKey\": \"${{ steps.infrastructure.outputs.applicationInsightsKey }}\",
            \"tenantId\":\"${{ secrets.AAD_TENANT_ID }}\",
            \"audience\":\"${{ secrets.AAD_API_CLIENT_ID_URI }}\",
            \"clientId\":\"${{ secrets.AAD_FE_CLIENT_ID }}\"
          };" 
          > ./scmfe/settings/settings.js

      - name: Deploy SCM Frontend
        run: >
          az storage blob upload-batch 
          -d '$web' 
          --account-name ${{ steps.infrastructure.outputs.storageAccountName }} 
          -s ./scmfe

  deploy-to-test:
    if: (github.repository == 'azuredevcollege/trainingdays') && ((github.event_name == 'push') || (github.event_name == 'workflow_dispatch'))
    runs-on: ubuntu-latest
    environment: day5-scm-test
    needs: deploy-to-dev
    env:
      RESOURCE_GROUP_NAME: rg-scm-testday5
      RESOURCE_GROUP_LOCATION: westeurope
      ENV_NAME: testd5

    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - name: Create ResourceGroup name
        id: createResourceGroupName
        run: echo "::set-output name=name::${{ env.RESOURCE_GROUP_NAME }}-${{ env.GITHUB_REPOSITORY_OWNER_PART }}"

      - name: Download bicep artifacts
        uses: actions/download-artifact@v2
        with:
          name: bicep

      - name: Login via Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create ResourceGroup
        run: >
          az group create
          -l ${{ env.RESOURCE_GROUP_LOCATION }}
          -n ${{ steps.createResourceGroupName.outputs.name }}

      - name: Deploy infrastructure to test environment
        uses: azure/arm-deploy@v1
        id: infrastructure
        with:
          failOnStdErr: false
          resourceGroupName: ${{ steps.createResourceGroupName.outputs.name }}
          template: ./${{ env.BICEP_FILE_NAME }}
          parameters: env=${{ env.ENV_NAME }}

      - name: Download SCM Frontend artifacts
        uses: actions/download-artifact@v2
        with:
          name: scmfe
          path: ./scmfe

      - name: Enable static website hosting
        run: >
          az storage blob service-properties update 
          --account-name ${{ steps.infrastructure.outputs.storageAccountName }} 
          --static-website  
          --index-document index.html 
          --404-document index.html

      - name: Patch SCM Frontend settings
        run: >
          echo "var uisettings = 
          { 
            \"endpoint\": \"${{ steps.infrastructure.outputs.contactsApiEndpoint }}\", 
            \"resourcesEndpoint\": \"${{ steps.infrastructure.outputs.resourcesApiEndpoint }}\", 
            \"searchEndpoint\": \"${{ steps.infrastructure.outputs.searchApiEndpoint }}\",
            \"reportsEndpoint\": \"${{ steps.infrastructure.outputs.visitReportsEndpoint }}\",
            \"enableStats\": true,
            \"aiKey\": \"${{ steps.infrastructure.outputs.applicationInsightsKey }}\",
            \"tenantId\":\"${{ secrets.AAD_TENANT_ID }}\",
            \"audience\":\"${{ secrets.AAD_API_CLIENT_ID_URI }}\",
            \"clientId\":\"${{ secrets.AAD_FE_CLIENT_ID }}\"
          };" 
          > ./scmfe/settings/settings.js

      - name: Deploy SCM Frontend
        run: >
          az storage blob upload-batch 
          -d '$web' 
          --account-name ${{ steps.infrastructure.outputs.storageAccountName }} 
          -s ./scmfe
